<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='/css/style.css') }}>
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<link rel="stylesheet" href={{ url_for('static', filename='/css/simple-notify.min.css') }} />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src={{ url_for('static', filename='/img/wave.png') }}>
	<div class="container">
		<div class="img">
			<img src={{ url_for('static', filename='/img/bg.svg') }}>
		</div>
		<div class="login-content">
			<form action="beranda" method="GET" onSubmit="return validasi()">
				<img src={{ url_for('static', filename='/img/avatar.svg') }}>
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="username" class="input" id="username">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input" id="password">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login" id="btn">
            </form>
			
        </div>
    </div>
    <script type="text/javascript" src={{ url_for('static', filename='/js/main.js') }}></script>
</body>

<script type="text/javascript">
  	function validasi(){
		var username = document.getElementById("username").value;
		var password = document.getElementById("password").value;		
		if (username != "" && password!="") {
			return true;
		}else{
			errorToast();
			return false;
		}
	}
</script>

<script src={{ url_for('static', filename='/js/simple-notify.min.js') }}></script>

<script>
  function errorToast(){
    new Notify ({
      status: 'error',
      title: 'ERROR',
      text: 'TEXT',
      effect: 'fade',
      speed: 300,
      customClass: '',
      customIcon: '',
      showIcon: true,
      showCloseButton: true,
      autoclose: true,
      autotimeout: 3000,
      gap: 60,
      distance: 20,
      type: 1,
      position: 'right top',
      customWrapper: '',
    })
  }
</script>

</html>
